        body {
            background-image: url(https://musicproduct.info/assets/bg.gif);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 105% 105%;
        }
.container {
  width: auto;
  height: 60vh;
  background: none;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}
.containerbttm {
  width: auto;
  height: 20vh;
  margin-left: 3%;
  margin-top: 3%;
  margin-right: 3%;
  display:flex;
  align-items:center;
  justify-content:center;
}


}
.portrait {
    opacity: 1;
    -webkit-transition: opacity 2s ease,-webkit-filter 2s ease;
    transition: opacity 2s ease,-webkit-filter 2s ease;
    -webkit-filter: brightness(1.04) blur(0);
    filter: brightness(1.04) blur(0);
    cursor: crosshair;
}
.portrait:hover {
    opacity: 0;
    -webkit-filter: brightness(10) blur(5px);
    filter: brightness(10) blur(5px);
    -webkit-transition: opacity 2s ease,-webkit-filter 2s ease;
    transition: opacity 2s ease,-webkit-filter 2s ease;
    cursor: crosshair;
}
    @font-face {
        font-family: Helnow;
        src: url(https://musicproduct.info/fonts/HelveticaNowText-Regular.ttf);
    }