        body {
            background-image: url(https://musicproduct.info/assets/bg.gif);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 105% 105%;
        }
.container {
  width: auto;
  height: 60vh;
  background: none;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
}
            img {
                width:100%;
                height:100%;
            }